<!-- LA NAV BAR -->  
  <nav class= "nav">
    <div class="leftnav">
      <div class="namesite"><img src="https://vignette.wikia.nocookie.net/logopedia/images/9/90/Fly_Emirates.svg/revision/latest?cb=20170731122609" class="namesite"> </div>
      <div class="buttonnav">   
        <input type="image" src="http://www.iconninja.com/files/316/264/945/mtg-black-icon.png" class="navimage">
        <input type="image" src="https://melbournechapter.net/images/d20-clipart-magic-the-gathering-3.png" class="navimage">
        <input type="image" src="http://www.icosky.com/icon/png/Movie%20%26%20TV/Magic%20The%20Gathering%20Mana/MTG%20White.png" class="navimage">

      </div>
    </div> 

    <div class="avatar">
      <img src="https://placeimg.com/100/100/people" class="avatarpix"> 
    </div> 
  </nav> 




<!-- LES CARDS -->
<div class="title"><p>Fly the gathering</p></div>
  <div class="cards">
    <div class="card">
      <img src="https://i.pinimg.com/564x/b5/a3/17/b5a317545fb82ad744525dcdab1bf5f4.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>Some angels protect the meek and innocent. Others seek out and smite evil wherever it lurks.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/564x/2c/7f/69/2c7f69685fe37f4588085f76c3b886fe.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Cat Soldier</p></div>
      <div class="carddescription"><p>The dead make good soldiers. They can't disobey orders, never surrender, and don't stop fighting when a random body part falls off.</p></div>
      <button type="button" class="cardbutton">Follow him</button>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/564x/54/f5/7b/54f57b609abdfba02450bac8fee0aff5.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>I desire the acquisition a potassium-rich fruit comestible of substantial magnitude.</p></div>
      <button type="button" class="cardbutton">Follow him</button>
    </div>

    <div class="card">
      <img src="https://www.guiltybit.com/wp-content/uploads/2017/10/beta-de-Magic-The-Gathering-Arena.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Human Wizzard</p></div>
      <div class="carddescription"><p>My past is part of who I am, but it is not who I am.</p></div>
      <button type="button" class="cardbutton">Follow him</button>
    </div>

    <div class="card">
      <img src="http://s3.gatheringmagic.com.s3.amazonaws.com/uploads/2016/01/07/ML1.png" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Elf Warrior</p></div>
      <div class="carddescription"><p>I can only say to you, in this, my final prayer to the world, that I only ever meant to keep the innocent from harm.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>

  </div>

<!-- LA TAB -->
  <div class="tabbs">
    <ul class="tabs">
      
      <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1" />
          <label for="tab1">Fly</label>
          <div id="tab-content1" class="content">
            <h1>Don't just fly</h1>
            <hr/>
            <h3>Aliquam tristique orci non facilisis lobortis</h3>
            <br/>
            <p>Sadage, cleric of the Cabal, made his way to the doors of the high-vaulted worship hall of the Stronghold. Smoke from torches and incense burners formed a cloud above the cultists sprawled on the stone floor. They begged for entrance to the hall, begged for the favor of the Scion of Darkness within.Sadage, cleric of the Cabal, made his way to the doors of the high-vaulted worship hall of the Stronghold. Smoke from torches and incense burners formed a cloud above the cultists sprawled on the stone floor.</p> 
          </div>
      </li>
      
      <li class="tab">
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2">The</label>   
        <div id="tab-content2" class="content">
            <h1>Fly better</h1>
            <hr/>
            <h3>Ut bibendum augue vel magna rhoncus</h3>
            <br/>
            <p>A group of dark-robed disciples approached from the other direction, picking their way around the moaning supplicants to meet Sadage. He recognized the leader as Needle, an agent of the Cabal tasked with infiltrating New Argive. As the group reached him, they dropped to their knees. "You've returned," said Sadage. "I hope for a worthwhile reason."Sadage, cleric of the Cabal, made his way to the doors of the high-vaulted worship hall of the Stronghold. Smoke from torches and incense burners formed a cloud above the cultists sprawled on the stone floor.</p>    
         </div>
      </li>

       <li class="tab">
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3">Gathering</label>   
        <div id="tab-content3" class="content">
            <h1>Fly better</h1>
            <hr/>
            <h3>Praesent ac accumsan urna. Mauris lorem purus</h3>
            <br/>
            <p>In answer, Needle unwrapped a large black sword, holding it up for acceptance. "I bring you a gift for the Scion of Darkness." "A gift?" Sadage reached for it, but stopped, a breath of air between his gloved fingertips and the metal. A dark miasma clung to the blade. "What is this?" Needle looked up at him, her eyes wide, the dark pupils dilated with reverence. "A fabled blade, a soul-drinker. The one who forged the sword killed an elder dragon and absorbed its strength—"</p> 
        </div>
      </li>

      <li class="tab">
        <input type="radio" name="tabs" id="tab4" />
        <label for="tab4">Now</label>   
        <div id="tab-content4" class="content">
            <h1>Don't just fly</h1>
            <hr/>
            <h3>Class aptent taciti sociosqu ad litora torquen</h3>
            <br/>
            <p>Sadage said, "Stop." This close to the worship hall and its resplendent occupant, he couldn't afford to let discipline slip. "Who used it to kill an elder dragon?" Needle hesitated. The disciple at her side said, "It's said it was the Planeswalker Dakkon Bl—" Sadage made a sharp gesture. "It was Belzenlok! Belzenlok forged it. Belzenlok slayed the elder dragon. Belzenlok." In a murmuring chorus, the group of disciples repeated obediently, "It was Belzenlok, Lord of the Wastes, Belzenlok, Slayer of Elder Dragons."</p>       
        </div>
      </li>
      
    </ul>
  </div>








