<!-- LA NAV BAR -->  
  <nav class= "nav">
    <div class="leftnav">
      <div class="namesite"><img src="https://vignette.wikia.nocookie.net/logopedia/images/9/90/Fly_Emirates.svg/revision/latest?cb=20170731122609" class="namesite"> </div>
      <div class="buttonnav">   
        <input type="image" src="http://www.iconninja.com/files/316/264/945/mtg-black-icon.png" class="navimage">
        <input type="image" src="https://melbournechapter.net/images/d20-clipart-magic-the-gathering-3.png" class="navimage">
        <input type="image" src="http://www.icosky.com/icon/png/Movie%20%26%20TV/Magic%20The%20Gathering%20Mana/MTG%20White.png" class="navimage">

      </div>
    </div> 

    <div class="avatar">
      <img src="https://placeimg.com/100/100/people" class="avatarpix"> 
    </div> 
  </nav> 




<!-- LES CARDS -->
  <div class="cards">
    <div class="card">
      <img src="https://i.pinimg.com/564x/b5/a3/17/b5a317545fb82ad744525dcdab1bf5f4.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>Some angels protect the meek and innocent. Others seek out and smite evil wherever it lurks.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/564x/b5/a3/17/b5a317545fb82ad744525dcdab1bf5f4.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>Some angels protect the meek and innocent. Others seek out and smite evil wherever it lurks.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/564x/b5/a3/17/b5a317545fb82ad744525dcdab1bf5f4.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>Some angels protect the meek and innocent. Others seek out and smite evil wherever it lurks.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>
  </div>

  <div class="card">
      <img src="https://i.pinimg.com/564x/b5/a3/17/b5a317545fb82ad744525dcdab1bf5f4.jpg" class="cardavatar">
      <div class="cardcathegorie"><p>Creature -- Angel</p></div>
      <div class="carddescription"><p>Some angels protect the meek and innocent. Others seek out and smite evil wherever it lurks.</p></div>
      <button type="button" class="cardbutton">Follow her</button>
    </div>
  </div>

<!-- LA TAB -->
  <div class="tabbs">
    <ul class="tabs">
      
      <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1" />
          <label for="tab1">One</label>
          <div id="tab-content1" class="content">
            <h1>Tab content 1</h1>
            <hr/>
            <h3>Aliquam tristique orci non facilisis lobortis</h3>
            <br/>
            <p>Sadage, cleric of the Cabal, made his way to the doors of the high-vaulted worship hall of the Stronghold. Smoke from torches and incense burners formed a cloud above the cultists sprawled on the stone floor. They begged for entrance to the hall, begged for the favor of the Scion of Darkness within.</p> 
          </div>
      </li>
      
      <li class="tab">
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2">Two</label>   
        <div id="tab-content2" class="content">
            <h1>Tab content 2</h1>
            <hr/>
            <h3>Ut bibendum augue vel magna rhoncus</h3>
            <br/>
            <p>A group of dark-robed disciples approached from the other direction, picking their way around the moaning supplicants to meet Sadage. He recognized the leader as Needle, an agent of the Cabal tasked with infiltrating New Argive. As the group reached him, they dropped to their knees. "You've returned," said Sadage. "I hope for a worthwhile reason."</p>    
         </div>
      </li>

       <li class="tab">
        <input type="radio" name="tabs" id="tab3" />
        <label for="tab3">Three</label>   
        <div id="tab-content3" class="content">
            <h1>Tab content 3</h1>
            <hr/>
            <h3>Praesent ac accumsan urna. Mauris lorem purus</h3>
            <br/>
            <p>In answer, Needle unwrapped a large black sword, holding it up for acceptance. "I bring you a gift for the Scion of Darkness." "A gift?" Sadage reached for it, but stopped, a breath of air between his gloved fingertips and the metal. A dark miasma clung to the blade. "What is this?" Needle looked up at him, her eyes wide, the dark pupils dilated with reverence. "A fabled blade, a soul-drinker. The one who forged the sword killed an elder dragon and absorbed its strength—"</p> 
        </div>
      </li>

      <li class="tab">
        <input type="radio" name="tabs" id="tab4" />
        <label for="tab4">Four</label>   
        <div id="tab-content4" class="content">
            <h1>Tab content 4</h1>
            <hr/>
            <h3>Class aptent taciti sociosqu ad litora torquen</h3>
            <br/>
            <p>Sadage said, "Stop." This close to the worship hall and its resplendent occupant, he couldn't afford to let discipline slip. "Who used it to kill an elder dragon?" Needle hesitated. The disciple at her side said, "It's said it was the Planeswalker Dakkon Bl—" Sadage made a sharp gesture. "It was Belzenlok! Belzenlok forged it. Belzenlok slayed the elder dragon. Belzenlok." In a murmuring chorus, the group of disciples repeated obediently, "It was Belzenlok, Lord of the Wastes, Belzenlok, Slayer of Elder Dragons."</p>       
        </div>
      </li>
      
    </ul>
  </div>








